# 4.1 - MongoDB

![mongo](images/mongodb.jpeg)

https://docs.mongodb.com/manual/administration/install-community/

https://docs.mongodb.com/compass/current/install/

MongoDB es una base de datos orientada a documentos. Esto quiere decir que en lugar de guardar los datos en registros, guarda los datos en documentos. Estos documentos son almacenados en BSON, que es una representación binaria de JSON.

Una de las diferencias más importantes con respecto a las bases de datos relacionales, es que no es necesario seguir un esquema. Los documentos de una misma colección, concepto similar a una tabla de una base de datos relacional, pueden tener esquemas diferentes.

In [1]:
%pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.2.tar.gz (807 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 807.5/807.5 kB 5.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
  Preparing metadata (setup.py) ... done
Collecting dnspython<3.0.0,>=1.16.0
  Using cached dnspython-2.2.1-py3-none-any.whl (269 kB)
Building wheels for collected packages: pymongo
  Building wheel for pymongo (setup.py) ... done
  Created wheel for pymongo: filename=pymongo-4.3.2-cp38-cp38-macosx_11_0_arm64.whl size=382271 sha256=9956fb61b4490e01a6109ec2bfab15cf9a1b2189fc63a617198ae51bff2a6585
  Stored in directory: /Users/iudh/Library/Caches/pip/wheels/b6/27/c0/2115037dcd1e4236d418cf84f38ddc5439eda58664c72c3bb5
Successfully built pymongo
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.2.1 pymongo-4.3.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import MongoClient

import warnings
warnings.filterwarnings('ignore')

In [4]:
str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
cursor.list_database_names()   # lista de bases de datos

['admin',
 'arbbot',
 'campus_tools',
 'companies',
 'complete_exchange_matches',
 'config',
 'ironcomes',
 'local',
 'telegram_messages',
 'total_records']

In [6]:
db=cursor.nueva_db   # nueva base de datos

In [7]:
cursor.list_database_names()

['admin',
 'arbbot',
 'campus_tools',
 'companies',
 'complete_exchange_matches',
 'config',
 'ironcomes',
 'local',
 'telegram_messages',
 'total_records']

In [8]:
colec=db.n_colec   # nueva coleccion

In [10]:
db.list_collection_names()

[]

In [12]:
dictio={'nombre': 'Pepe', 'edad': 35, '4': [0, 1, 2 ,3]}

colec.insert_one(dictio)

In [13]:
cursor.list_database_names()

['admin',
 'arbbot',
 'campus_tools',
 'companies',
 'complete_exchange_matches',
 'config',
 'ironcomes',
 'local',
 'nueva_db',
 'telegram_messages',
 'total_records']

In [14]:
db.list_collection_names()

['n_colec']

In [15]:
# insertar varios

# insert into colec (columnas) values (valores);   equivalente SQL

json=[{'nombre': 'yo', 'edad': 38},
      {'_id': 20, 'actividad': 'natacion', 'lugar': 'aqui'}]

colec.insert_many(json)

In [17]:
json=[{'nombre': 'Ana', 'edad': 24},
      {'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'}]


colec.insert_many(json)

In [18]:
# select * from colec;

colec.find()

In [19]:
list(colec.find())

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('6363885219554d6948b903aa'), 'nombre': 'yo', 'edad': 38},
 {'_id': 20, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('6363887419554d6948b903ab'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('6363888119554d6948b903ac'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'}]

In [20]:
a=list(colec.find())

In [21]:
a[4]

{'_id': ObjectId('6363888119554d6948b903ac'), 'nombre': 'Ana', 'edad': 24}

In [23]:
a[0]['4']

[0, 1, 2, 3]

### Queries

In [24]:
list(colec.find())   # select * from colec;

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('6363885219554d6948b903aa'), 'nombre': 'yo', 'edad': 38},
 {'_id': 20, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('6363887419554d6948b903ab'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('6363888119554d6948b903ac'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'}]

In [25]:
list(colec.find({'edad': 24}))   # select * from colec where edad=24;

[{'_id': ObjectId('6363887419554d6948b903ab'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('6363888119554d6948b903ac'), 'nombre': 'Ana', 'edad': 24}]

In [26]:
list(colec.find({'nombre': 'yo'}))   # select * from colec where nombre=yo;

[{'_id': ObjectId('6363885219554d6948b903aa'), 'nombre': 'yo', 'edad': 38}]

In [27]:
list(colec.find({'edad': {'$gt': 24}}))   # select * from colec where edad>24;

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('6363885219554d6948b903aa'), 'nombre': 'yo', 'edad': 38}]

In [28]:
list(colec.find({'edad': {'$gte': 24}}))   # select * from colec where edad>=24;

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('6363885219554d6948b903aa'), 'nombre': 'yo', 'edad': 38},
 {'_id': ObjectId('6363887419554d6948b903ab'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('6363888119554d6948b903ac'), 'nombre': 'Ana', 'edad': 24}]

In [29]:
list(colec.find({'edad': {'$lt': 38}}))   # select * from colec where edad<38;

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('6363887419554d6948b903ab'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('6363888119554d6948b903ac'), 'nombre': 'Ana', 'edad': 24}]

In [30]:
list(colec.find({'edad': {'$lte': 35}}))   # select * from colec where edad<=35;

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('6363887419554d6948b903ab'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('6363888119554d6948b903ac'), 'nombre': 'Ana', 'edad': 24}]

In [31]:
list(colec.find({'edad': {'$ne': 38}}))   # select * from colec where edad!=38;

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]},
 {'_id': 20, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('6363887419554d6948b903ab'), 'nombre': 'Ana', 'edad': 24},
 {'_id': ObjectId('6363888119554d6948b903ac'), 'nombre': 'Ana', 'edad': 24},
 {'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'}]

In [34]:
list(colec.find({'$and':[{'edad': {'$ne': 38}}, 
                         {'nombre': 'Pepe'}]}))   

# select * from colec where edad!=38 and nombre=Pepe;

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]}]

In [36]:
list(colec.find({'$and':[{'edad': {'$lt': 38}}, 
                         {'edad': {'$gt': 24}}]}))   

# select * from colec where edad<38 and edad>24;
# select * from colec where edad between (38, 24);

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]}]

In [37]:
query={'$and':[{'edad': {'$lt': 38}}, 
               {'edad': {'$gt': 24}}]}

list(colec.find(query))

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]}]

In [38]:
query={'edad': {'$ne': 24}}

list(colec.find(query).limit(3))  

# select * from colec where edad!=24 limit 3;

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('6363885219554d6948b903aa'), 'nombre': 'yo', 'edad': 38},
 {'_id': 20, 'actividad': 'natacion', 'lugar': 'aqui'}]

In [42]:
query={'edad': {'$ne': 24}}

list(colec.find(query).sort('edad', 1).limit(3))   

# select * from colec where edad!=24 order by edad asc limit 3;

[{'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'},
 {'_id': 20, 'actividad': 'natacion', 'lugar': 'aqui'},
 {'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]}]

In [43]:
colec.update_one({'_id': 20}, {'$set': {'actividad': 'atletismo'}})

In [44]:
list(colec.find({'_id': 20}))

[{'_id': 20, 'actividad': 'atletismo', 'lugar': 'aqui'}]

In [45]:
colec.update_many({'nombre': 'Ana'}, {'$set': {'edad': 1}})

In [46]:
list(colec.find())

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('6363885219554d6948b903aa'), 'nombre': 'yo', 'edad': 38},
 {'_id': 20, 'actividad': 'atletismo', 'lugar': 'aqui'},
 {'_id': ObjectId('6363887419554d6948b903ab'), 'nombre': 'Ana', 'edad': 1},
 {'_id': ObjectId('6363888119554d6948b903ac'), 'nombre': 'Ana', 'edad': 1},
 {'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'}]

In [49]:
# select count(*) from colec group by _id;     # por cada id suma 1

list(colec.aggregate([{'$group': {'_id': '', 'count': {'$sum': 1}}}]))

[{'_id': '', 'count': 6}]

In [50]:
colec.delete_one({'_id': 20})

# delete from colec where _id=20;

In [51]:
colec.delete_many({'nombre': 'Ana'})

# delete from colec where nombre=Ana;

In [52]:
list(colec.find())

[{'_id': ObjectId('636387a819554d6948b903a9'),
  'nombre': 'Pepe',
  'edad': 35,
  '4': [0, 1, 2, 3]},
 {'_id': ObjectId('6363885219554d6948b903aa'), 'nombre': 'yo', 'edad': 38},
 {'_id': 24, 'actividad': 'natacion', 'hora': '22:00', 'lugar': 'aculla'}]

In [53]:
colec.drop()

In [54]:
db.list_collection_names()

[]

### DB Companies

In [55]:
db=cursor.companies

In [56]:
colec=db.companies

In [58]:
#list(colec.find().limit(1))

### Geoqueries