# 3.1 - Data Cleaning


![cleaning](images/cleaning.jpg)


$$$$

Una vez que hemos conseguido los datos necesarios, es necesario observar su calidad y orden. No se trata de un análisis exploratorio de los datos, sino de ver como de sucios y desordenados están nuestros datos. Cuando los datos tienen problemas de calidad decimos que los datos están sucios. Los problemas de calidad están relacionados con valores nulos, datos inconsistentes, tipo de dato incorrecto y registros duplicados. 


$$$$
![assess](images/data_assess.png)
$$$$
$$$$

Por otro lado, el orden de los datos está relacionado con su estructura. Como dice [Hadley Wickham](http://hadley.nz/) en su paper [Tidy Data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html), los datos están ordenados cuando:

+ Cada variable forma una columna.
+ Cada observación forma una fila.
+ Cada tipo de unidad obsservacional forma una tabla.
$$$$
![clean](images/data_clean.png)

# Ejemplo...

### Importaciones y carga de datos.

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')  # esto es para quitar prints

pd.set_option('display.max_columns', None)   # mostrar todas las columnas del df
#pd.set_option('display.max_rows', None)   # mostrar todas las filas del df

In [3]:
df=pd.read_csv('../data/vehicles_messy.csv')

df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,co2,co2A,co2TailpipeAGpm,co2TailpipeGpm,comb08,comb08U,combA08,combA08U,combE,combinedCD,combinedUF,cylinders,displ,drive,engId,eng_dscr,feScore,fuelCost08,fuelCostA08,fuelType,fuelType1,ghgScore,ghgScoreA,highway08,highway08U,highwayA08,highwayA08U,highwayCD,highwayE,highwayUF,hlv,hpv,id,lv2,lv4,make,model,mpgData,phevBlended,pv2,pv4,range,rangeCity,rangeCityA,rangeHwy,rangeHwyA,trany,UCity,UCityA,UHighway,UHighwayA,VClass,year,youSaveSpend,guzzler,trans_dscr,tCharger,sCharger,atvType,fuelType2,rangeA,evMotor,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,423.190476,21,0.0,0,0.0,0.0,0.0,0.0,4.0,2.0,Rear-Wheel Drive,9011,(FFS),-1,1600,0,Regular,Regular Gasoline,-1,-1,25,0.0,0,0.0,0.0,0.0,0.0,0,0,1,0,0,Alfa Romeo,Spider Veloce 2000,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,23.3333,0.0,35.0000,0.0,Two Seaters,1985,-1250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,12.0,4.9,Rear-Wheel Drive,22020,(GUZZLER),-1,3050,0,Regular,Regular Gasoline,-1,-1,14,0.0,0,0.0,0.0,0.0,0.0,0,0,10,0,0,Ferrari,Testarossa,N,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,11.0000,0.0,19.0000,0.0,Two Seaters,1985,-8500,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,329.148148,27,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,Front-Wheel Drive,2100,(FFS),-1,1250,0,Regular,Regular Gasoline,-1,-1,33,0.0,0,0.0,0.0,0.0,0.0,19,77,100,0,0,Dodge,Charger,Y,False,0,0,0,0.0,0.0,0.0,0.0,Manual 5-spd,29.0000,0.0,47.0000,0.0,Subcompact Cars,1985,500,NaN,SIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,807.909091,11,0.0,0,0.0,0.0,0.0,0.0,8.0,5.2,Rear-Wheel Drive,2850,NaN,-1,3050,0,Regular,Regular Gasoline,-1,-1,12,0.0,0,0.0,0.0,0.0,0.0,0,0,1000,0,0,Dodge,B150/B250 Wagon 2WD,N,False,0,0,0,0.0,0.0,0.0,0.0,Automatic 3-spd,12.2222,0.0,16.6667,0.0,Vans,1985,-8500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,0.0,-1,-1,0.0,467.736842,19,0.0,0,0.0,0.0,0.0,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,66031,"(FFS,TRBO)",-1,2150,0,Premium,Premium Gasoline,-1,-1,23,0.0,0,0.0,0.0,0.0,0.0,0,0,10000,0,14,Subaru,Legacy AWD Turbo,N,False,0,90,0,0.0,0.0,0.0,0.0,Manual 5-spd,21.0000,0.0,32.0000,0.0,Compact Cars,1993,-4000,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

### Exploración

In [4]:
dim_original=df.shape

df.shape

(37843, 83)

In [5]:
df.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [7]:
df.make.value_counts()

Chevrolet                      3795
Ford                           3102
Dodge                          2513
GMC                            2389
Toyota                         1919
                               ...
ASC Incorporated                  1
Volga Associated Automobile       1
Panoz Auto-Development            1
Panos                             1
Mahindra                          1
Name: make, Length: 133, dtype: int64

In [8]:
df.dtypes

barrels08     float64
barrelsA08    float64
charge120     float64
charge240     float64
city08          int64
               ...
modifiedOn     object
startStop      object
phevCity        int64
phevHwy         int64
phevComb        int64
Length: 83, dtype: object

In [10]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge120        37843 non-null  float64
 3   charge240        37843 non-null  float64
 4   city08           37843 non-null  int64
 5   city08U          37843 non-null  float64
 6   cityA08          37843 non-null  int64
 7   cityA08U         37843 non-null  float64
 8   cityCD           37843 non-null  float64
 9   cityE            37843 non-null  float64
 10  cityUF           37843 non-null  float64
 11  co2              37843 non-null  int64
 12  co2A             37843 non-null  int64
 13  co2TailpipeAGpm  37843 non-null  float64
 14  co2TailpipeGpm   37843 non-null  float64
 15  comb08           37843 non-null  int64
 16  comb08U          37843 non-null  float64
 17  combA08          37843 non-null  int64
 18  combA08U         37843 non-null  float64
 19  combE            37843 non-null  float64
 20  combinedCD       37843 non-null  float64
 21  combinedUF       37843 non-null  float64
 22  cylinders        37720 non-null  float64
 23  displ            37723 non-null  float64
 24  drive            36654 non-null  object
 25  engId            37843 non-null  int64
 26  eng_dscr         22440 non-null  object
 27  feScore          37843 non-null  int64
 28  fuelCost08       37843 non-null  int64
 29  fuelCostA08      37843 non-null  int64
 30  fuelType         37843 non-null  object
 31  fuelType1        37843 non-null  object
 32  ghgScore         37843 non-null  int64
 33  ghgScoreA        37843 non-null  int64
 34  highway08        37843 non-null  int64
 35  highway08U       37843 non-null  float64
 36  highwayA08       37843 non-null  int64
 37  highwayA08U      37843 non-null  float64
 38  highwayCD        37843 non-null  float64
 39  highwayE         37843 non-null  float64
 40  highwayUF        37843 non-null  float64
 41  hlv              37843 non-null  int64
 42  hpv              37843 non-null  int64
 43  id               37843 non-null  int64
 44  lv2              37843 non-null  int64
 45  lv4              37843 non-null  int64
 46  make             37843 non-null  object
 47  model            37843 non-null  object
 48  mpgData          37843 non-null  object
 49  phevBlended      37843 non-null  bool
 50  pv2              37843 non-null  int64
 51  pv4              37843 non-null  int64
 52  range            37843 non-null  int64
 53  rangeCity        37843 non-null  float64
 54  rangeCityA       37843 non-null  float64
 55  rangeHwy         37843 non-null  float64
 56  rangeHwyA        37843 non-null  float64
 57  trany            37832 non-null  object
 58  UCity            37843 non-null  float64
 59  UCityA           37843 non-null  float64
 60  UHighway         37843 non-null  float64
 61  UHighwayA        37843 non-null  float64
 62  VClass           37843 non-null  object
 63  year             37843 non-null  int64
 64  youSaveSpend     37843 non-null  int64
 65  guzzler          2281 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5186 non-null   object
 68  sCharger         666 non-null    object
 69  atvType          3072 non-null   object
 70  fuelType2        1408 non-null   object
 71  rangeA           1403 non-null   object
 72  evMotor          562 non-null    object
 73  mfrCode          7025 non-null   object
 74  c240Dscr         37 non-null     object
 75  charge240b       37843 non-null  float64
 76  c240bDscr        36 non-null     object
 77  createdOn        37843 non-null  object
 78  modifiedOn       37843 non-null  object
 79  startStop        6138 non-null   object
 80  phevCity         37843 non-null  int64
 81  phevHwy          37843 non-null  int64
 82  phevComb         37843 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 59.8 MB

In [12]:
# columnas con valores nulos

nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [14]:
df.evMotor.unique()

array([nan, '62 KW AC Induction', '50 KW DC', '27 KW AC Induction',
       '67 KW AC Induction', '24 KW AC Synchronous', '288V Ni-MH',
       '330V Ni-MH', '36V Ni-MH', '245V Ni-MH', '158V Ni-MH',
       '202V Ni-MH', '300V Ni-MH', '101V Ni-MH', '275V Ni-MH',
       '126V Li-Ion', '312V Ni-MH', '67 KW AC  Induction', '67 KW AC',
       '102kW AC Induction', '49kW DC Brushless', '56kW AC Induction',
       '49 kW DC Brushless', '85 kW AC Induction', '150 kW', '80 kW DCPM',
       '111 kW', '30 kW DCPM', '270V Li-Ion', '144V Li-Ion',
       '346V Li-Ion', '115V Li-Ion', '49 kW DCPM', '52 kW AC Induction',
       '144V Ni-MH', '125 kW AC Induction', '100 kW DCPM',
       '107 kW AC Induction', '18 kW', '2 @ 150 kw (300 kw)',
       '260 kW AC Induction', '280V Li-Ion', '107 kW AC PMSM',
       '374V Li-Ion', '92 kW DCPM', '266V Li-Ion', '55 kW DCPM',
       '115 kW AC Induction', '68 kW', '220V Li-Ion',
       '225 kW AC Induction', '270 kW AC Induction', '75 kW AC PMSM',
       '82 kW ACIPM', '124 kW', '104 kW AC Induction', '259V Li-Ion',
       '260V Li-Ion', '126 kW',
       '270 kW AC Induction (85 kW-hr battery pack)',
       '225 kW AC Induction (60 kW-hr battery pack)', '70 kW',
       '95 kW and 116 kW DC Brushless', '104 kW ACPM',
       '82 kW AC Induction', '111 kW 3-Phase AC', '132 kW AC Induction',
       '68 kW DCPM', '70 kW DC Brushless', '125kW', '126 kW 3-Phase AC',
       '18 kW AC Induction', '96kW', '132kW', '81 kW AC PMSM',
       '132 kW AC Synchronous', 'Two 480V Li-Ion', '85 kW AC PMSM',
       '180 and 350 kW AC Induction (85 kW-hr battery pack)',
       '164 (front) 350 (rear) (85 kW-hr battery pack)',
       '140 (front) 140 (rear) (85 kW-hr battery pack)',
       '140 (front) 140 (rear) (70 kW-hr battery pack)', '85 kW DCPM',
       '140 (front) 140 (rear) (90 kW-hr battery pack)',
       '164 (front) 350 (rear) (90 kW-hr battery pack)',
       '55 and 174kW 3-Phase AC', '48 and 87 kW 3-Phase AC',
       '193 (front) 193 (rear) (90 kW-hr battery pack)',
       '193 (front) 375 (rear) (90 kW-hr battery pack)', '105 kW ACPM',
       '50 kW IPMSM', '83 kW AC Induction', '207V Li-Ion',
       '34 and 65kW DCPM', '285 kW AC Induction (70 kW-hr battery pack)',
       '285 kW AC Induction (85 kW-hr battery pack)',
       '285 kW AC Induction (90 kW-hr battery pack)',
       '193 (front) 193 (rear) (70 kW-hr battery pack)',
       '193 (front) 193 (rear) (85 kW-hr battery pack)',
       '193 (front) 375 (rear) (85 kW-hr battery pack)', '65kW',
       '300V Li-Ion', '86V Li-Ion',
       '285 kW AC Induction (75 kW-hr battery pack)',
       '193 (front) 193 (rear) (75 kW-hr battery pack)', '83kW DCPM',
       'Two 444V Li-Ion', '83kW',
       '285 kW AC Induction (60 kW-hr battery pack)',
       '193 (front) 193 (rear) (60 kW-hr battery pack)',
       '193 (front) 375 (rear) (100 kW-hr battery pack)'], dtype=object)

In [16]:
nan_cols[nan_cols>1e4].index

Index(['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType',
       'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr',
       'startStop'],
      dtype='object')

### Borrado de columnas con más de 10.000 valores nulos

In [18]:
df.drop(columns=nan_cols[nan_cols>1e4].index, inplace=True)  # borra y sobreescribe

In [19]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [20]:
df.shape, dim_original

((37843, 70), (37843, 83))

### Exploración columnas `cylinders` y `displ`

In [31]:
bad_index=df.cylinders[df.cylinders.isna()].index

bad_index[:10]

Int64Index([7138, 7139, 8143, 8144, 8146, 8147, 9212, 9213, 10329, 21413], dtype='int64')

In [32]:
df.iloc[bad_index][['make', 'model', 'fuelType', 'cylinders', 'displ']].fuelType.unique()

array(['Electricity', 'Regular'], dtype=object)

**Espera, son eléctricos, de hecho existe un Mazda con motor rotatorio. Efectivamente no tienen cilindros ni cilindrada**

In [34]:
df[['cylinders', 'displ']]=df[['cylinders', 'displ']].fillna(0)  # rellena con cero lo que es nulo


df[['cylinders', 'displ']].fillna(0, inplace=True)

In [35]:
nan_cols=df.isna().sum()

nan_cols[nan_cols>0]

drive    1189
trany      11
dtype: int64

In [36]:
bad_index=df.cylinders[df.cylinders.isna()].index

bad_index[:10]

Int64Index([], dtype='int64')

### Exploración columna `drive`

In [37]:
bad_index=df.drive[df.drive.isna()].index

bad_index[:10]

Int64Index([7138, 8144, 8147, 18217, 18218, 18219, 18220, 18221, 18222, 18223], dtype='int64')

In [38]:
df.iloc[bad_index][['make', 'model', 'fuelType', 'drive']].head(10)

             make               model     fuelType drive
7138       Nissan            Altra EV  Electricity   NaN
8144         Ford               Th!nk  Electricity   NaN
8147       Nissan          Hyper-Mini  Electricity   NaN
18217  Alfa Romeo  Spider Veloce 2000      Regular   NaN
18218     Bertone                X1/9      Regular   NaN
18219   Chevrolet            Corvette      Regular   NaN
18220   Chevrolet            Corvette      Regular   NaN
18221      Nissan               300ZX      Regular   NaN
18222      Nissan               300ZX      Regular   NaN
18223      Nissan               300ZX      Regular   NaN

In [39]:
df.drive.unique()

array(['Rear-Wheel Drive', 'Front-Wheel Drive',
       '4-Wheel or All-Wheel Drive', nan, '2-Wheel Drive',
       'All-Wheel Drive', '4-Wheel Drive', 'Part-time 4-Wheel Drive',
       '2-Wheel Drive, Front'], dtype=object)

In [40]:
len(bad_index)

1189

In [42]:
df.iloc[bad_index].model.unique()

array(['Altra EV', 'Th!nk', 'Hyper-Mini', 'Spider Veloce 2000', 'X1/9',
       'Corvette', '300ZX', 'EXP', 'Civic CRX', 'Kenyon 5.0 Cabrio',
       'Countach Lp500s', 'Esprit', 'RX-7', '380SL', 'Spider', 'Fiero',
       'GT V6 2.5', 'Avanti II', 'Biturbo', '911 SC', '928 S', '944',
       'Starlet', 'Rabbit Convertible', 'Lagonda',
       'Saloon/vantage/volante', 'Coupe GT', 'Quattro', '4000',
       '4000 S quattro', '3 Series', '6 Series', 'Camaro',
       'Cavalier Convertible', 'Chevette', 'Laser/Daytona',
       'LeBaron Convertible', 'Maxima', 'Pulsar/Pulsar-NX', 'Sentra',
       '200SX', '300ZX 2x2', 'Charger', 'Colt', 'Conquest', 'Daytona',
       '600 Convertible', 'Laser', 'Mustang', 'Accord', 'Civic',
       'Prelude', 'I-Mark', 'Impulse', 'XJS', 'XJ', 'Capri', 'GLC',
       '190 D 2.2/190 E 2.3', 'Cordia', 'Precis', 'Starion', 'Tredia',
       'Turismo', 'Firebird', '1000', '2000 Sunbird Convertible', 'Fuego',
       '18i', 'Corniche', 'Sedan', 'Celica', 'Celica Supra',
       'Corolla Sport', 'Cressida', 'Tercel', 'Jetta', 'Rabbit',
       'Scirocco', '5 Series', '7 Series', 'Riviera Convertible',
       'Skyhawk', 'Skylark', 'Cimarron', 'Eldorado Convertible',
       'Cavalier', 'Dovell 230CE', 'Dovell 230E', 'Stanza', 'Omni',
       'Escort', 'Tempo', 'Thunderbird', 'Kenyon 5.0 Coupe',
       'Kenyon 5.0 Sp Sedan', 'Cougar', 'Lynx', 'Topaz', '626',
       '300D/300CD', '300SD/380SE', '500SEC', 'Firenza', 'Omega',
       '505 Sedan', '604 Sedan', 'Horizon', '2000 Sunbird',
       'Alliance/Encore', 'Camargue', '900', 'Camry', 'Corolla',
       'Quantum', '240 DL/GL/Turbo', '5000S', 'SC', 'Century', 'Regal',
       'Riviera', 'Eldorado', 'Seville', 'Celebrity', 'Citation II',
       'Monte Carlo', 'E Class/New Yorker', 'Executive Sedan/Limousine',
       'LeBaron', 'Newport/Fifth Avenue', 'Aries', 'Diplomat', '600',
       'LTD', 'Kenyon 5.0 Sedan', 'Continental', 'Mark VII', 'Marquis',
       'Quattroporte', '500SEL', 'Cutlass Ciera', 'Cutlass Supreme',
       'Toronado', 'Gran Fury', 'Reliant', 'Bonneville', 'Grand Prix',
       'Phoenix', '6000', 'Silver Spirit/Spur/Mulsanne', '760 GLE',
       'LeSabre', 'Limousine', 'Impala/Caprice', 'LTD Crown Victoria',
       'Grand Marquis', 'Town Car', 'Delta 88', 'Ninety-Eight',
       'Parisienne', 'Silver Spur Limousine', 'Skyhawk Wagon',
       'Cavalier Wagon', 'Maxima Wagon', 'Sentra Wagon', 'Colt Vista',
       'Escort Wagon', 'Civic Wagon', 'Lynx Wagon', 'GLC Wagon',
       'Space Wagon', 'Firenza Cruiser Wagon', '2000 Sunbird Wagon',
       'Sportwagon', 'Wagon', 'Cressida Wagon', 'Tercel Wagon',
       'Tercel Wagon 4WD', 'Quantum Wagon', '5000S Wagon',
       'Century Estate Wagon', 'Celebrity Wagon',
       'Town and Country Wagon', 'Aries Wagon', 'LTD Wagon',
       'Marquis Wagon', '300TD', 'Cutlass Cruiser Wagon',
       '505 Station Wagon', 'Reliant Wagon', '6000 Wagon',
       '240 DL/GL/Turbo Wagon', 'Electra Estate Wagon', 'Caprice Wagon',
       'LTD Crown Victoria Wagon', 'Grand Marquis Wagon',
       'Custom Cruiser Wagon', 'Parisienne Wagon', 'Pickup Cab Chassis',
       'Saloon/Vantage/Volante', 'Electra/Park Avenue', 'Ninety-Eight II',
       'Esprit V8', 'EV1', 'EV Plus', 'MiniE'], dtype=object)

**Este es el punto donde siempre hay que decidir. ¿Qué nos conviene más, borrar registros o rellenar con un `unknown`?**

### Exploración columna `trany`

**Hasta aquí la limpieza de nulos.**

### Eliminación de duplicados

### Columnas constantes o de baja varianza

Nos fijaremos en las columnas numéricas.

### Outliers (datos atípicos)

Outlier se refiere a esos registros con valores extremos, fuera del rango intercuartil. Dichos valores podrían ser datos verdaderos o fallos de registro. Sea como fuere, se suelen eliminar estos registros porque podrían desplazar la media de una manera ficticia. Esto es, la robustez de los datos. Los datos atípicos 'pesan más' que los datos cercanos a la media. Un solo valor es suficiente para influenciar enormemente la media del conjunto de datos. Esta vez nos fijaremos en los datos por filas.

### Colinealidad  

Columnas con la misma información.

### Limpieza columna `trany`

## DataFrame Final

**Cuidado de no eliminarlo todo....**